@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #e97937;
  --primary: #0d2a7a;
  --grey-dark: #3E3E3E;
  --grey-medium: #66696d;
  --grey-light: #b2b4b6;
}

@theme {
  --color-highlight: var(--highlight);
  --color-primary: var(--primary);
  --color-grey-dark: var(--grey-dark);
  --color-grey-medium: var(--grey-medium);
  --color-grey-light: var(--grey-light);

  --font-size-base: 14px;
  --font-size-base--line-height: normal;
}

html {
  font-size: 14px;
}

body {
  color: var(--grey-dark);
  padding: 8vh 1rem 18vh;
}

@media print {
  html {
    font-size: 12px;
  }

  body {
    padding: 0;
  }
}

h1,
h2,
h4 {
  color: var(--primary);
}

h3 {
  color: var(--grey-medium);
  border-bottom: 2px solid var(--grey-light);
}